@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Dasos do Aluno</h4>
<span><strong>Nome:</strong> @ViewData["Aluno"]</span><br />
<span><strong>Email:</strong> @ViewData["Email"]</span>
